<configuration>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StudentApplication-20161201074248.mdf;Initial Catalog=aspnet-StudentApplication-20161201074248;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="StudentDallas" connectionString="Password=hamm70817;Persist Security Info=True;User ID=jhamm;Initial Catalog=ITIGrades;Data Source=dallaswin200.arvixeshared.com" providerName="SQLOLEDB.1"/>
  <add name="Student1" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=jhamm;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
  <add name="Student" connectionString="Data Source=tcp:s03.winhost.com;Initial Catalog=DB_12359_football;User ID=DB_12359_football_user;Password=fischerj1;Integrated Security=False;"/>
  <add name="LocalZip" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DB_ZipCodes;Data Source=219A-C-11-16"/>
</connectionStrings>
</configuration>