<configuration>
  <connectionStrings>
    <add name="Student1" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student2" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student3" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student4" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student5" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student6" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student7" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="member" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student13" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student10" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student11" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student12" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student14" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student15" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
    <add name="Student27" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=StudentDatabase;Data Source=219A-C-11-16"/>
  </connectionStrings>
</configuration>